<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"> 
    <link rel="stylesheet" href="/styles.css">
    <title>Desafio 4</title>
</head>
<body>
    <header>
        <div class="content">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>
    
</body>
</html>